@import "tailwindcss";

@theme {
    --color-curious-blue-50: #f1f9fe;
    --color-curious-blue-100: #e2f2fc;
    --color-curious-blue-200: #bfe4f8;
    --color-curious-blue-300: #87d0f2;
    --color-curious-blue-400: #47b7e9;
    --color-curious-blue-500: #1f9ed8;
    --color-curious-blue-600: #117eb8;
    --color-curious-blue-700: #0f6595;
    --color-curious-blue-800: #11567b;
    --color-curious-blue-900: #144866;
    --color-curious-blue-950: #0d2e44;
}

body {
    font-family: 'Lexend Variable', sans-serif;
    background: linear-gradient(to right, var(--color-curious-blue-100), white);
}